.hamburgerMenuContainer{
    padding: 1.2em 0.7em;
}

.hamburgerMenu {
    background-color: white;
    width: 2em;
    height: 2px;
    position: relative;
}

.hamburgerMenu:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 2em;
    height: 2px;
    top: 10px;
}

.hamburgerMenu:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 2em;
    height: 2px;
    bottom: 10px;
}

@media (min-width: 500px) {
    .hamburgerMenuContainer{
        display: none;
    }
}